/*************整体样式*****************/
p,h1,h2,h3,h4,h5,h6,ul,li,body,input{
	margin: 0px;
	padding: 0px;
}
*{
	margin: 0 auto;
	padding: 0px;
}
a{
	text-decoration: none;
}
ul,li{
	list-style: none;
}
img{
	border: 0px;
}
select{
	border: 0px;
}
/**************头部*****************/
body{
	overflow-x: hidden;
}
.head{
	width: 100%;
	height: auto;
	min-width: 1190px;
}
.head .loginbar{
	width: 100%;
	height: 34px;
	background-color: #eeeeee;
}
.head .loginbar .loginbar_center{
	width: 1190px;
	height: 34px;
	margin: 0 auto;
}
.head .loginbar .loginbar_center .left li{
	float: left;
	display: inline;
	line-height: 34px;
	margin-left: 10px;
	position: relative;
}
.head .loginbar .loginbar_center .left li a{
	display: block;
	width: auto;
	height: 34px;
	padding-left: 27px;
	font-size: 12px;
	font-family: "宋体";
	color: #666666;
	position: relative;
}
.head .loginbar .loginbar_center .left .l2{
	color: #cccccc;
}
.head .loginbar .loginbar_center .left li a .d1{
	width: 21px;
	height: 21px;
    position: absolute;
    top: 6px;
    left: 0px;
}
.head .loginbar .loginbar_center .left li .a2{
	padding-right: 18px;
}
.head .loginbar .loginbar_center .left li .a3{
	padding-left: 23px;
	padding-right: 18px;
}
.head .loginbar .loginbar_center .left li a .d2{
	background: url("../image/header-02.png") -225px -0px no-repeat;
}
.head .loginbar .loginbar_center .left li a .d3{
	background: url("../image/header-02.png") -225px -58px no-repeat;
}
.head .loginbar .loginbar_center .left li a .d4{
	background: url("../image/phone.png") center top no-repeat;
}
.head .loginbar .loginbar_center .left li a .d5{
	width: 9px;
	height: 5px;
	position: absolute;
	top: 16px;
	right: 0px;
	background: url("../image/header-02.png") -175px -111px no-repeat;
}
.head .loginbar .loginbar_center .left li a:hover{
	color: #e5004f;
}
.head .loginbar .loginbar_center .left li a .d2:hover{
	background: url("../image/header-02.png") -225px -27px no-repeat;
}
.head .loginbar .loginbar_center .left li a .d3:hover{
	background: url("../image/header-02.png") -225px -88px no-repeat;
}
.head .loginbar .loginbar_center .left li a .d4:hover{
	background: url("../image/phone.png") center bottom no-repeat;
}
.head .loginbar .loginbar_center .left li a .d5:hover{
	background: url("../image/header-02.png") -175px -128px no-repeat;
}
/* ****************weixin******************** */
.head .loginbar .loginbar_center .left .weixin{
	width: 124px;
	height: 152px;
	margin: 0 auto;
	background-color: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 80;
	display: none;
}
.head .loginbar .loginbar_center .left .weixin a{
	display: inline;
	padding-left: 0px;
}
.head .loginbar .loginbar_center .left .weixin .top{
	width: 119px;
	height: 34px;
    padding-left: 5px;
}
.head .loginbar .loginbar_center .left .weixin .top .img{
	width: 21px;
	height: 21px;
	margin-top: 8px;
	background: url("../image/header-02.png") -225px -88px no-repeat;
	float: left;
}
.head .loginbar .loginbar_center .left .weixin .top a{
	color: #E5004F;
	font-size: 14px;
	line-height: 38px;
}
.head .loginbar .loginbar_center .left .weixin .top .jiao{
	width: 9px;
	height: 5px;
	background: url("../image/header-02.png") -175px -128px no-repeat;
	float: right;
	margin-right: 30px;
	margin-top: 16px;
}
.head .loginbar .loginbar_center .left .weixin .bottom img{
    margin-left: 10px;
}
/* *************shoujiyin***************** */
.head .loginbar .loginbar_center .left .shoujiyin{
      	width: 148px;
      	height: 197px;
      	margin: 0 auto;
      	background: #fff;
      	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 80;
	display: none;
      }
 .head .loginbar .loginbar_center .left .shoujiyin a{
 	display: inline;
	padding-left: 0px;
 }
.head .loginbar .loginbar_center .left .shoujiyin .top{
        width: 143px;
        height: 43px;
        padding-left: 5px;
      }

.head .loginbar .loginbar_center .left .shoujiyin .top .img{
	width: 21px;
	height: 21px;
	margin-top: 8px;
	background: url("../image/phone.png") center bottom no-repeat;
	float: left;
}
.head .loginbar .loginbar_center .left .shoujiyin .top a{
	color: #E5004F;
	font-size: 14px;
	line-height: 38px;
}
.head .loginbar .loginbar_center .left .shoujiyin .top .jiao{
	width: 9px;
	height: 5px;
	background: url("../image/header-02.png") -175px -128px no-repeat;
	float: right;
	margin-right: 25px;
	margin-top: 16px;
}
.head .loginbar .loginbar_center .left .shoujiyin .bottom img{
    margin-left: 10px;
}
/* ************************************** */
.head .loginbar .loginbar_center .right .lis{
	float: right;
	display: inline;
	width: auto;
	height: 34px;
	line-height: 34px;
	margin-left: 12px;
	color: #cccccc;
	position: relative;
}
.head .loginbar .loginbar_center .right li a{
	color: #666666;
	font-family: "宋体";
	font-size: 12px;
	display: block;
}
.head .loginbar .loginbar_center .right li .a1{
	margin-right: 15px;
}
.head .loginbar .loginbar_center .right .l1{
	position: relative;
}
.head .loginbar .loginbar_center .right li .a1 div{
	width: 9px;
	height: 5px;
	background: url("../image/header-02.png") -175px -111px no-repeat;
    position: absolute;
    right: 1px;
    top: 16px;
}
.head .loginbar .loginbar_center .right li a:hover{
	color: #e5004f;
}
/****************xiala**************************/
.head .loginbar .loginbar_center .right .xiala{
	width: 86px;
	height: auto;
    background: #fff;
    text-align: center;
    position: absolute;
    top: 0px;
    left: -10px;
    z-index: 80;
    display: none;
}
.head .loginbar .loginbar_center .right .xiala .a1{
  display: inline;
  color: #E5004F;
  text-align: center;
  line-height: 38px;
  font-size: 12px;
  
}
.head .loginbar .loginbar_center .right .xiala .l1{
  border-bottom: 1px solid #dcdcdc;

}
.head .loginbar .loginbar_center .right .xiala li{
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	color: #666666;
	/*margin-left: 12px;
	float: left;*/
}
.head .loginbar .loginbar_center .right .xiala li a{
	color: #666666;
	display: inline;
}
.head .loginbar .loginbar_center .right .xiala li a:hover{
	color: #E5004F;
	text-decoration: underline;
}
/*******************************************/
.head .news{
	width: 100%;
	height: 80px;
	min-width: 1190px;
}
.head .news .news_center{
	width: 100%;
	height: 80px;
	min-height: 80px;
	margin: 0 auto;
	margin-top: 1px;
	background: url("../image/news.jpg") repeat scroll center top;
}
.head .head_nav{
	width: 100%;
	height: 120px;
}
.head .head_nav .head_nav1 .left a{
	display: block;
	width: 225px;
	height: 76px;
	float: left;
	margin-top: 20px;
	background: url("../image/header-02.png") no-repeat;
	border-right: 1px solid #efefef;
}
.head .head_nav .head_nav1{
	width: 1190px;
	height: 120px;
	margin: 0 auto;
	position: relative;
}
.head .head_nav .head_nav1 .left_1{
    width: 120px;
    height: 80px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}
.head .head_nav .head_nav1 input{
	width: 451px;
	height: 30px;
	border: 2px solid #323333;
	float: left;
}
.head .head_nav .head_nav1 .sousuo img{
	float: left;
}
.head .head_nav .head_nav1 .sousuo{
	position: absolute;
	top: 40px;
	left: 514px;
}
.head .head_nav .head_nav1 .xuanqian{
	width: 498px;
	height: 18px;
	position: absolute;
	top: 80px;
	left: 514px;
}
.head .head_nav .head_nav1 .xuanqian ul li{
	float: left;
	display: inline;
	margin-right: 10px;
}
.head .head_nav .head_nav1 .xuanqian ul li a{
	font-size: 12px;
	font-family: "宋体";
	color: #888888;
}
.head .head_nav .head_nav1 .xuanqian ul li a:hover{
	color: #e9004f;
	text-decoration: underline;
}
.head .head_nav .head_nav1 .right{
	width: 160px;
	height: 34px;
	background: #323333;
	position: absolute;
	top: 40px;
	right: 0px;
	background-image: url("../image/gouwudai.jpg");
	background-repeat: no-repeat;
	background-position: 15px 7px;
}
.head .head_nav .head_nav1 .right select{
	width: 120px;
	height: 34px;
	border: 0px;
	background: #323333;
	margin-left: 40px;
	font-size: 18px;
	color: #ffffff;
}
.head .head_nav .head_nav1 .right1{
	width: 160px;
	height: 18px;
	position: absolute;
    top: 80px;
	right: 0px;
}
.head .head_nav .head_nav1 .right1 li{
	float: left;
	display: inline;
	margin-right: 10px;
	
}
.head .head_nav .head_nav1 .right1 li a{
	font-size: 14px;
	color: #e9004f;
	text-decoration: underline;
}
.head .head_lan{
	width: 100%;
	height: 39px;
}
.head .head_lan .lan_nei{
	width: 1190px;
	height: 39px;
	margin: 0 auto;

}
.head .head_lan .lan_nei .left{
	width: 210px;
	height: 39px;
	background: #222222;
	float: left;
}
.head .head_lan .lan_nei .left p{
	text-align: center;
	font-size: 18px;
	color: #ffffff;
	line-height: 39px;
}
.head .head_lan .lan_nei .u1 li{
	width: auto;
	height: 39px;
	float: left;
	display: inline;
	margin-left: 45px;
	text-align: center;
	line-height: 39px;
	font-size: 16px;
    color: #323333;
}
.head .head_lan .lan_nei .u1 li a{
     font-size: 16px;
     color: #323333;
}
.head .head_lan .lan_nei .u1 li:hover{
	color: #e9004f; 
	border-bottom: 2px #e9004f solid;
	box-sizing: border-box;
}
.head .head_lan .lan_nei .right{
	float: right;
}
.head .head_lan .lan_nei .right li{
	float: left;
	display: inline;
	margin-right: 10px;
	margin-top: 10px;
}
.head .head_lan .lan_nei .right li a{
	color: #888888;
	font-size: 14px;
}
.head .head_lan .lan_nei .right li a:hover{
	color: #e9004f; 
}
.head .banner{
	width: 100%;
	height: 470px;
	min-width: 1190px;
	position: relative;
	border-top: 1px solid #2d2e2e;
}
.head .banner .bg{
	width: 1920px;
	height: 470px;
	margin: 0 auto;
    position: absolute;
    z-index: 1;
   /* background-color: red;*/
    left: 50%;
    margin-left: -960px;
}
.head .banner .bg div{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;

}
/* *****************轮播************************ */
.head .banner .banner_nav{
	width: 1190px;
	height: 470px;
	margin: 0 auto;
	border-top: 1px solid #2d2e2e;
	position: relative;
}
.head .banner .banner_nav .list{
	width: 100%;
	height: 100%;
	position: absolute;
}
.head .banner .banner_nav .list a{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.head .banner .banner_nav .list a img{
	width: 100%;
}
.head .banner .banner_nav .index{
	width: 130px;
	height: 8px;
	position: absolute;
	bottom: 22px;
	z-index: 20;
	left: 40%;
	margin-left: 60px;
}
.head .banner .banner_nav .index li{
	width: 30px;
	height: 100%;
	background-color: black;
	margin: 1px;
	float: left;
}
.head .banner .banner_nav .btn{
	width: 100%;
	height: 60px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index: 30;
}
.head .banner .banner_nav .btn div{
	width: 28px;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	line-height: 60px;
	text-align: center;
	color: #eeeeee;
	font-size: 25px;
}
.head .banner .banner_nav .btn .left{
	float: left;
	margin-left: 210px;
}
.head .banner .banner_nav .btn .right{
	float: right;
	margin-right: 200px;
}
/* ******************menu************************ */
 .head .banner .banner_left .li .menu{
    	width: 495px;
    	height: auto;
    	background-color: #2B2B2B;
    	
        z-index: 90;
        display: none;
    }
  .head .banner .banner_left .li{
  	position: relative;
  }
/* ************dingwei */
    .head .banner .banner_left .li .menu1{
    	position: absolute;
    	top: 0px;
    	left: 210px;
    }
    .head .banner .banner_left .li .menu2{
    	position: absolute;
    	top: 0px;
    	left: 210px;
    }
        .head .banner .banner_left .li .menu3{
    	position: absolute;
    	top: -92px;
    	left: 210px;
    }
    .head .banner .banner_left .li .menu4{
    	position: absolute;
    	top: -138px;
    	left: 210px;
    }
    .head .banner .banner_left .li .menu5{
    	position: absolute;
    	top: -184px;
    	left: 210px;
    }
    .head .banner .banner_left .li .menu6{
    	position: absolute;
    	top: -230px;
    	left: 210px;
    }
    .head .banner .banner_left .li .menu7{
    	position: absolute;
    	top: -276px;
    	left: 210px;
    }
    .head .banner .banner_left .li .menu8{
    	position: absolute;
    	top: -322px;
    	left: 210px;
    }
    .head .banner .banner_left .li .menu9{
    	position: absolute;
    	top: -368px;
    	left: 210px;
    }
     .head .banner .banner_left .li .menu10{
    	position: absolute;
    	top: -378px;
    	left: 210px;
    }
/* **********dingwei********** */
 .head .banner .banner_left .li .menu .left{
 	width: 295px;
 	height: auto;
 	padding: 8px 20px 0;
 	float: left;
 }
 .head .banner .banner_left .li .menu .left>div{
 	width: 100%;
 	height: auto;
 	padding: 8px 0 7px 0;
 	line-height: 20px;
 	border-bottom: 1px dotted #666;
 }
  .head .banner .banner_left .li .menu .left>div h3 a{
  	font-size: 14px;
  	font-weight: 400;
  }
   .head .banner .banner_left .li .menu .left>div p{
   	width: 100%;
   	height: auto;
   }
  .head .banner .banner_left .li .menu .left>div p a{
    
  	font-size: 12px;
  	color: #fff;
  }
    .head .banner .banner_left .li .menu .left>div p a:hover{
    	color: #e5004f;
    }
   .head .banner .banner_left .li .menu .right{
   	width: 145px;
   	height: 100%;
   	background-color: #060707;
   	float: left;
   	padding: 15px 0 15px 15px;
   }
   .head .banner .banner_left .li .menu .right h3{
   	width: 100%;
    height: 26px;
    line-height: 26px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 14px;
    color: #fff;
    border-bottom: 1px dotted #666;
   }
    .head .banner .banner_left .li .menu .right p a{
    	width: 100%;
    margin-right: 10px;
    color: #fff;
    float: left;
    font-size: 13px;
    display: inline;
    white-space: nowrap;
    height: 24px;
    line-height: 24px;
    }
        .head .banner .banner_left .li .menu .right p a:hover{
        	color: #e5004f;
        }
/*****************************************/
.head .banner .banner_nav .banner_left{
	width: 210px;
	height: 470px;
	background: #333333;
	float: left;
	display: inline;
	position: absolute;
	z-index: 50;
}
.head .banner .banner_nav .banner_left ul .l1{
	width: 153px;
	height: 46px;
	background: #333333;
	border-bottom: 1px solid #515151;
	padding-left: 42px;
	padding-right: 15px;
	position: relative;
}
.head .banner .banner_nav .banner_left ul .l2{
	width: 153px;
	height: 47px;
	background: #333333;
	padding-left: 42px;
	padding-right: 15px;
	position: relative;
}
.head .banner .banner_nav .banner_left ul li:hover{
	background: #e9004f;
}
.head .banner .banner_nav .banner_left ul li a{
	font-size: 20px;
	color: white;
}
.head .banner .banner_nav .banner_left ul li{
	line-height: 46px;
}
.head .banner .banner_nav .banner_left ul li li{
	float: left;
	display: inline;
}
.head .banner .banner_nav .banner_left ul li .l1_2{
	color: #ffffff;
	font-size: 16px;
	margin-left: 9px;
}
.head .banner .banner_nav .banner_left ul li li .a1{
	color: #ffffff;
	font-size: 16px;
}
.head .banner .banner_nav .banner_left ul li li .a2{
	color: #ffffff;
	font-size: 14px;
}
.head .banner .banner_nav .banner_left ul .l1 .l1_d1{
	width: 17px;
	height: 17px;
	background: url("../image/header-02.png") 0px -111px no-repeat;
	position: absolute;
	left: 18px;
	top: 17px;
}
.head .banner .banner_nav .banner_left ul .l1 .l1_d1:hover{
	background: url("../image/header-02.png") 0px -128px no-repeat;
}
.head .banner .banner_nav .banner_left ul .l1 .l1_d2{
	width: 8px;
	height: 11px;
	background: url("../image/header-02.png") -208px -111px no-repeat;
	position: absolute;
	right: 15px;
	top: 18px;
}
/*************************************************/
.head .banner .banner_nav .banner_left ul .l1 .l1_d3{
	width: 17px;
	height: 17px;
	background: url("../image/header-02.png") -17px -111px no-repeat;
	position: absolute;
	left: 18px;
	top: 17px;
}
.head .banner .banner_nav .banner_left ul .l1 .l1_d3:hover{
	background: url("../image/header-02.png") -17px -128px no-repeat;
}
.head .banner .banner_nav .banner_left ul .l1 .l1_d4{
	width: 17px;
	height: 17px;
	background: url("../image/header-02.png") -34px -111px no-repeat;
	position: absolute;
	left: 18px;
	top: 17px;
}
.head .banner .banner_nav .banner_left ul .l1 .l1_d4:hover{
	background: url("../image/header-02.png") -34px -128px no-repeat;
}
.head .banner .banner_nav .banner_left ul .l1 .l1_d5{
	width: 17px;
	height: 17px;
	background: url("../image/header-02.png") -51px -111px no-repeat;
	position: absolute;
	left: 18px;
	top: 17px;
}
.head .banner .banner_nav .banner_left ul .l1 .l1_d5:hover{
	background: url("../image/header-02.png") -51px -128px no-repeat;
}
.head .banner .banner_nav .banner_left ul .l1 .l1_d6{
	width: 17px;
	height: 17px;
	background: url("../image/header-02.png") -68px -111px no-repeat;
	position: absolute;
	left: 18px;
	top: 17px;
}
.head .banner .banner_nav .banner_left ul .l1 .l1_d6:hover{
	background: url("../image/header-02.png") -68px -128px no-repeat;
}
.head .banner .banner_nav .banner_left ul .l1 .l1_d7{
	width: 17px;
	height: 17px;
	background: url("../image/header-02.png") -85px -111px no-repeat;
	position: absolute;
	left: 18px;
	top: 17px;
}
.head .banner .banner_nav .banner_left ul .l1 .l1_d7:hover{
	background: url("../image/header-02.png") -85px -128px no-repeat;
}
.head .banner .banner_nav .banner_left ul .l1 .l1_d8{
	width: 17px;
	height: 17px;
	background: url("../image/header-02.png") -102px -111px no-repeat;
	position: absolute;
	left: 18px;
	top: 17px;
}
.head .banner .banner_nav .banner_left ul .l1 .l1_d8:hover{
	background: url("../image/header-02.png") -102px -128px no-repeat;
}
.head .banner .banner_nav .banner_left ul .l1 .l1_d9{
	width: 17px;
	height: 17px;
	background: url("../image/header-02.png") -119px -111px no-repeat;
	position: absolute;
	left: 18px;
	top: 17px;
}
.head .banner .banner_nav .banner_left ul .l1 .l1_d9:hover{
	background: url("../image/header-02.png") -119px -128px no-repeat;
}
.head .banner .banner_nav .banner_left ul .l1 .l1_d10{
	width: 17px;
	height: 17px;
	background: url("../image/header-02.png") -136px -111px no-repeat;
	position: absolute;
	left: 18px;
	top: 17px;
}
.head .banner .banner_nav .banner_left ul .l1 .l1_d10:hover{
	background: url("../image/header-02.png") -136px -128px no-repeat;
}
/************************************************/
.head .banner .banner_nav .banner_left ul .l2 .l1_d1{
	width: 17px;
	height: 17px;
	background: url("../image/header-02.png") 0px -111px no-repeat;
	position: absolute;
	left: 18px;
	top: 17px;
}
.head .banner .banner_nav .banner_left ul .l2 .l1_d1:hover{
	background: url("../image/header-02.png") 0px -128px no-repeat;
}
.head .banner .banner_nav .banner_left ul .l2 .l1_d2{
	width: 8px;
	height: 11px;
	background: url("../image/header-02.png") -208px -111px no-repeat;
	position: absolute;
	right: 15px;
	top: 18px;
}
.head .banner .banner_nav .banner_right{
	width: 200px;
	height: 470px;
	float: right;
	position: absolute;
	right: 0px;
	z-index: 50;
}
.head .banner .banner_nav .banner_right:hover{
	margin-right: 10px;
}
/*****************body****************/
.body{
	width: 100%;
	height: auto;
	min-width: 1190px;
	margin-top: 30px;
}
.body .body_head{
	width: 1190px;
	height: 325px;
	margin: 0 auto;
}
.body .body_head ul .l1{
	float: left;
	display: inline;
}
.body .body_head ul .left{
    width: 909px;
    height: 325px;
}
.body .body_head ul .right{
	width: 270px;
	height: 300px;
	margin-left: 11px;
	margin-top: 25px;
}
/* ***************选项卡********************* */
.body .body_head ul .left .left_top{
	width: 909px;
	height: 52px;
}
.body .body_head ul .left .left_bottom{
	width: 909px;
	height: 262px;
	margin-top: 10px;
	display: none;
}
.body .body_head ul .left .left_top li{
	width: 303px;
	height: 47px;
	float: left;
	display: inline;
	border-bottom: 5px solid #333333;
	text-align: center;
	line-height: 47px;
	font-size: 16px;
	color: #000000;
}
/*.body .body_head ul .left .left_top li:hover{
	border-bottom: 5px solid #e5004f;
	font-weight: bold;
	background: url("../image/yt_ico1.png") 142px 27px no-repeat;
}*/
.body .body_head ul .left .left_bottom li{
	width: 222px;
	height: 262px;
	float: left;
	position: relative;
}
.body .body_head ul .left .left_bottom li .border_top{
	/*width: 50%;*/
	position: absolute;
	top: 0px;
	left: 0px;
	border-top: 1px solid #555;
}
.body .body_head ul .left .left_bottom li .border_left{
	/*height: 50%;*/
	position: absolute;
	top: 0px;
	left: 0px;
	border-left: 1px solid #555;
}
.body .body_head ul .left .left_bottom li .border_right{
	/*height: 50%;*/ 
	position: absolute;
	bottom: 0px;
	right: 0px;
	border-right: 1px solid #555;
}
.body .body_head ul .left .left_bottom li .border_bottom{
	/*width: 50%;*/
	position: absolute;
	bottom: 0px;
	right: 0px;
	border-bottom: 1px solid #555;
}
.body .body_head ul .left .left_bottom .l1{
	margin-left: 7px;
}
.body .body_head ul .left .left_bottom li img{
	border: 1px solid #eeeeee;
}
/*.body .body_head ul .left .left_bottom li img:hover{
	border: 1px solid #000000;
}*/
/* ************************************************ */
.body .body_news{
	width: 1190px;
    height: 80px;
    margin: 0 auto;
    margin-top: 30px;
    background: url("../image/1.jpg") no-repeat;
}
.body .zhuangui_ban{
	width: 1190px;
	height: 46px;
	margin: 0 auto;
	margin-top: 30px;
	background: url("../image/floor_tk.png") no-repeat;
}
.body .zhuangui{
	width: 1168px;
	height: 555px;
	border: 1px solid #eeeeee;
	padding: 10px;
}
.body .body_news2{
	width: 1190px;
    height: 80px;
    margin: 0 auto;
    margin-top: 30px;
    background: url("../image/c04abc82-4521-439f-a6ff-989e1769f74a.jpg") no-repeat;
}
/***************专柜**********************/
.body .zhuangui .l1{
	float: left;
	display: inline;
}
.body .zhuangui .left{
	width: 340px;
	height: 555px;
}
.body .zhuangui .right{
	width: 815px;
	height: 555px;
	margin-left: 13px;
}
.body .zhuangui .right .top{
	width: 815px;
	height: 38px;
}
.body .zhuangui .right .zhuan_bottom{
	width: 815px;
	height: 517px;
	display: none;
}
.body .zhuangui .right .top li{
	width: 102px;
	height: 35px;
	float: left;
	display: inline;
	text-align: center;
	line-height: 35px;
	font-size: 14px;
	color: #666666;
	border-bottom: 3px solid #333333;
}
/*.body .zhuangui .right .top li:hover{
    border-bottom: 3px solid #e70050;
    color: #414141;
    background: url("../image/yt_ico1.png") 50px 15px no-repeat;
}*/
.body .zhuangui .right .zhuan_bottom .middle{
	width: 815px;
	height: 250px;
	margin-top: 4px;
}
.body .zhuangui .right .zhuan_bottom .middle li{
	float: left;
	display: inline;
}
.body .zhuangui .right .zhuan_bottom .middle .l1{
	width: 220px;
	height: 250px;
	background: url("../image/b8cc35c2-7708-44e3-a1cb-b812e9d37f5b.jpg") no-repeat;
}
.body .zhuangui .right .zhuan_bottom .middle .l1:hover{
	opacity: 0.7;
}
.body .zhuangui .right .zhuan_bottom .middle .l2{
	width: 365px;
	height: 250px;
	margin-left: 5px;
	background: url("../image/331c9757-cd06-4896-a1bd-b5e45f98e3a0.jpg") no-repeat;
}
.body .zhuangui .right .zhuan_bottom .middle .l2:hover{
	opacity: 0.7;
}
.body .zhuangui .right .zhuan_bottom .middle .l3{
	width: 220px;
	height: 250px;
	margin-left: 5px;
	background: url("../image/233802e5-873a-42ad-b680-c62d17d18a5d.jpg") no-repeat;
}
.body .zhuangui .right .zhuan_bottom .middle .l3:hover{
	opacity: 0.7;
}
.body .zhuangui .right .zhuan_bottom .bottom{
	width: 815px;
	height: 259px;
	margin-top: 4px;
	overflow: hidden;
} 
.body .zhuangui .right .zhuan_bottom .bottom li{
	float: left;
	display: inline;
	overflow: hidden;
}
.body .zhuangui .right .zhuan_bottom .bottom .l1{
	width: 290px;
	height: 259px;
	background: url("../image/7e887fc2-8afb-45ae-943f-47cf19cf7472.jpg") no-repeat;
}
.body .zhuangui .right .zhuan_bottom .bottom .l1:hover{
	opacity: 0.7;
}
.body .zhuangui .right .zhuan_bottom .bottom .l2{
	width: 240px;
	height: 259px;
	margin-left: 5px;
	background: url("../image/0b0e5ebd-fb3e-4094-92e1-c44dd7466c71.jpg") no-repeat;
}
.body .zhuangui .right .zhuan_bottom .bottom .l2:hover{
	opacity: 0.7;
}
.body .zhuangui .right .zhuan_bottom .bottom .l3{
	width: 275px;
	height: 259px;
	margin-left: 5px;
	background: url("../image/467682bd-3468-4ecb-ac15-74efd7792852.jpg") no-repeat;
}
.body .zhuangui .right .zhuan_bottom .bottom .l3:hover{
	opacity: 0.7;
}
.body .zhuan_bottom .ul2{
     	width: 100%;
     	height: 100%;
     	overflow: hidden;
     }


.body .zhuan_bottom .top2 li{
        width: 198px;
        height: 254px;
        border: 1px solid #eeeeee;
        float: left;
        display: inline;
        overflow: hidden;
        position: relative;
    }
.body .zhuan_bottom .top2 li .border_top{
	/*width: 50%;*/
	position: absolute;
	top: 0px;
    left: 0px;
    border-top: 1px solid #555;
    z-index: 10;
}
.body .zhuan_bottom .top2 li .border_left{
	/*height: 50%;*/
	position: absolute;
	top: 0px;
    left: 0px;
    border-left: 1px solid #555;
    z-index: 10;
}
.body .zhuan_bottom .top2 li .border_right{
	/*height: 50%;*/
	position: absolute;
	bottom: 0px;
    right: 0px;
    border-right: 1px solid #555;
    z-index: 10;
}
.body .zhuan_bottom .top2 li .border_bottom{
	/*width: 50%;*/
	position: absolute;
	bottom: 0px;
    right: 0px;
    border-bottom: 1px solid #555;
    z-index: 10;
}
.body .zhuan_bottom .top2 .l1{
    	margin-left: 5px;
    }
    .zhuan_bottom .bottom2 li{
    	margin-top: 5px;
    }
.body .zhuan_bottom .top2 li img{
    	width: 150px;
    	height: 200px;
    	margin-left: 24px;
    }
.body .zhuan_bottom .top2 li .xia{
    	width: 100%;
    	height: 48px;
    	margin-top: 6px;
    	background-color: #F8F8F8;
        position: relative;
    }
.body .zhuan_bottom .top2 li div a{
    	color: #323232;
    	font-size: 12px;
    	text-decoration: underline;
    	text-align: center;
    }
.body .zhuan_bottom .top2 li div .a1{
    	color: #E5004F;
    	text-decoration: none;
    	font-size: 14px;
    }
.body .zhuan_bottom .top2 li div span{
    	color: #A7A7A7;
    	font-size: 12px;
    	text-decoration: line-through;
        position: absolute;
        right: 5px;
        bottom: 5px;
    }
/******************zhuti_1**************/
.body .zhuti1{
	width: 100%;
	min-width: 1190px;
	height: 418px;
	margin: 0 auto;
}
.body .zhuti_1{
    width: 1190px;
    height: 418px;
    min-width: 1190px;
    max-width: 1190px;
    margin: 0 auto;
    margin-top: 36px;
    overflow: hidden;
}
.body .zhuti_1 .top{
	width: 1190px;
	height: 46px;
	background: url("../image/floor_all.png") no-repeat;
}
.body .zhuti_1 .bottom{
	width: 1190px;
	height: 372px;
	margin: 0 auto;
}
.body .zhuti_1 .bottom .l1{
	float: left;
	display: inline;
	overflow: hidden;
}
.body .zhuti_1 .bottom .left{
	width: 228px;
	height: 370px;
	border: 1px solid #eeeeee;
}
/***************zhuti1轮播***********************/
.body .zhuti_1 .bottom .middle{
	width: 390px;
	height: 370px;
	border: 1px solid #eeeeee;
	margin-left: 8px;
	margin-right: 8px;
	position: relative;
	overflow: hidden;
}
.body .zhuti_1 .bottom .middle .img-box{
    width: 780px;
    height: 370px;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 0px;
    z-index: 30px;
}
.body .zhuti_1 .bottom .middle a{
	width: 390%;
	height: 370%;
	position: absolute;
}
.body .zhuti_1 .bottom .middle ul{
	width: 36px;
	height: 13px;
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left:-20px; 
	z-index: 30;
}
.body .zhuti_1 .bottom .middle ul li{
	width: 13px;
	height: 13px;
	border-radius: 50%;
	float: left;
	margin-left: 5px;
	z-index: 40;
	background-color: #6E6E6E;
}
.body .zhuti_1 .bottom .middle div{
	width: 30px;
	height: 60px;
	position: absolute;
	background-color: black;
	
	color: white;
	font-size: 30px;
	text-align: center;
	line-height: 60px;
}
.body .zhuti_1 .bottom .middle .left{
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -30px;
    opacity: 0.5;
    z-index: 0;
}
.body .zhuti_1 .bottom .middle .right{
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -30px;
    opacity: 0.5;
     z-index: 0;
}
/*******************************************/
.body .zhuti_1 .bottom .right{
	width: 552px;
	height: 372px;
}
.body .zhuti_1 .bottom .left .left_top .l1{
	width: 65px;
	height: 32px;
	border: 1px solid #eeeeee;
	color: #666666;
	line-height: 32px;
	text-align: center;
	font-size: 14px;
}
.body .zhuti_1 .bottom .left .left_top .l1:hover{
	background-color: #E5004F;
	color: #ffffff;
	border: 1px solid #E5004F;
}
.body .zhuti_1 .bottom .left .left_top .l2{
	margin-top: 16px;
}
.body .zhuti_1 .bottom .left .left_top .l3{
	margin-left: 8px;
}
.body .zhuti_1 .bottom .left .left_top .l4{
	margin-left: 5px;
}
.body .zhuti_1 .bottom .left .left_top .l5{
	margin-top: 3px;
}
/*****************zhutileftbottom************************/
.body .zhuti_1 .bottom .left .left_bottom{
	width: 185px;
	height: 120px;
	float: left;
	border-top: 1px dashed #969696;
	margin-top: 27px;
	margin-left: 15px;
	padding-top: 15px;
    padding-left: 20px;
    background-color: #f2f2f2;
    position: relative;
    overflow: hidden;
}
.body .zhuti_1 .bottom .left .left_bottom .zhu-left{
	width: 159px;
	height: 104px;
	position: absolute;
	left: 100%;
	overflow: hidden;
}
.body .zhuti_1 .bottom .left .left_bottom .l1{
	width: 75px;
	height: 50px;
	float: left;
	display: inline;
	background: #ffffff;
}
.body .zhuti_1 .bottom .left .left_bottom .l2{
	margin-top: 4px;
}
.body .zhuti_1 .bottom .left .left_bottom .l3{
	margin-left: 9px;
}
.body .zhuti_1 .bottom .left .left_bottom div{
	width: 6px;
	height: 11px;
}
.body .zhuti_1 .bottom .left .left_bottom .d1{
	background: url("../image/yt_ico.png") 0px -22px no-repeat;
    position: absolute;
    top: 67px;
    left: 9px;
    z-index: 99;
}
.body .zhuti_1 .bottom .left .left_bottom .d2{
	background: url("../image/yt_ico.png") 0px -44px no-repeat;
    position: absolute;
    top: 67px;
    left: 184px;
    z-index: 99;
}
/********************************************/
.body .zhuti_1 .bottom .right .u2{
    width: 552px;
    height: 182px;
}
.body .zhuti_1 .bottom .right .u3{
    width: 552px;
    height: 190px;
}
.body .zhuti_1 .bottom .right .l1{
    width: 270px;
    height: 180px;
    border: 1px solid #eeeeee;
    float: left;
    display: inline;
    overflow: hidden;
    position: relative;
}

.body .zhuti_1 .bottom .right .l1 img{
	width: 100%;
	height: 100%;
}
/***********边框*************************/
.body .zhuti_1 .bottom .right .l1 .border_top{
        	width: 0px;
        	height: 0px;
        	background-color: black;
        	position: absolute;
        	top: -1px;
        	left: -1px;
        }

 .body .zhuti_1 .bottom .right .l1 .border_left{
        	width: 0px;
        	height: 0px;
        	background-color: black;
        	position: absolute;
        	top: -1px;
        	left: -1px;
        }
.body .zhuti_1 .bottom .right .l1 .border_bottom{
        	width: 0px;
        	height: 0px;
        	background-color: black;
        	position: absolute;
        	bottom: -1px;
        	right: -1px;
        }
.body .zhuti_1 .bottom .right .l1 .border_right{
        	width: 0px;
        	height: 0px;
        	background-color: black;
        	position: absolute;
        	bottom: -1px;
        	right: -1px;
        }
/**************************************/
.body .zhuti_1 .bottom .right .u1{
    width: 552px;
	height: 372px;
}
/*.body .zhuti_1 .bottom .right .l1:hover{
	border: 1px solid #666666;
}*/
.body .zhuti_1 .bottom .right .l2{
	margin-left: 8px;
}
.body .zhuti_1 .bottom .right .l3{
    margin-top: 8px;
}
/****************zhuti_2**************/
/*****************di_1****************/
.body .di1{
	width: 100%;
	min-width: 1190px;
	height: 167px;
	margin: 0 auto;
}
.body .di_1{
	width: 1188px;
	height: 165px;
	margin: 0 auto;
	border: 1px solid #eeeeee;
	margin-top: 34px;
    overflow: hidden;
}
.body .di_1 a{
	display: block;
}
.body .di_1 li{
	float: left;
	display: inline;
	z-index: 10;
	overflow: hidden;
}
.body .di_1 .l1{
	width: 396px;
	height: 165px;
	background: url("../image/06e60098-7adc-438c-8a9d-2b9970851ee3.jpg") no-repeat;
}
.body .di_1 .l2{
	width: 395px;
	height: 165px;
	border-left: 1px solid #eeeeee;
}
.body .di_1 .l5{
	background: url("../image/4c658a00-fdcf-4e69-ab61-813b8b659520.jpg") no-repeat;
}
.body .di_1 .l4{
	background: url("../image/5de0cee3-4fb4-49df-b19e-904f6b003482.jpg") no-repeat;
}
.body .di_2{
    width: 1188px;
    height: 88px;
    margin: 0 auto;
    border: 1px solid #eeeeee;
    margin-top: 54px;
}
.body .di_2 li{
	float: left;
	display: inline;
	position: relative;
}
.body .di_2 .l1{
	width: 297px;
	height: 88px;
	background: #f7f7f7;
}
.body .di_2 .l2{
	width: 296px;
	height: 88px;
	border-left: 1px solid #eeeeee;
	background: #f7f7f7;
}
.body .di_2 .l1 strong{
	display: block;
	width: 162px;
	height: 30px;
	color: #e7004f;
	font-size: 18px;
	text-indent: 20px;
	background: url("../image/footer-01.png") no-repeat;
	position: absolute;
	top: 20px;
	left: 45px;
}
.body .di_2 .l1 b{
	display: block;
	width: 146px;
	height: 16px;
	color: #888888;
	font-size: 12px;
	text-indent: 20px;
	background: url("../image/footer-01.png") 0px -31px no-repeat;
    position: absolute;
    top: 57px;
    left: 45px;
}
.body .di_2 .l1 i{
	display: block;
	width: 60px;
	height: 17px;
	color: #888888;
	font-size: 12px;
	position: absolute;
	top: 30px;
	left: 210px;
}
.body .di_2 .l3{
	background: url("../image/footer-01.png") 50px -56px no-repeat;
	background-color: #f7f7f7;
}
.body .di_2 .l4{
	background: url("../image/footer-01.png") 50px -134px no-repeat;
	background-color: #f7f7f7;
}
.body .di_2 .l5{
	background: url("../image/footer-01.png") 50px -207px no-repeat;
	background-color: #f7f7f7;
}
.body .di_2 .l2 i{
   display: block;
   width: auto;
   height: 22px;
   color: #E7004F;
   font-size: 16px;
   position: absolute;
   top: 28px;
   left: 100px;
}
.body .di_2 .l2 strong{
   display: block;
   width: auto;
   height: 24px;
   color: #000000;
   font-size: 16px;
   position: absolute;
   top: 28px;
   left: 136px;
}
.body .di_2 .l2 b{
	display: block;
   width: auto;
   height: 24px;
   color: #888888;
   font-size: 14px;
   position: absolute;
   top: 52px;
   left: 100px;
}
.body .di_2 .l4 strong{
   position: absolute;
   top: 28px;
   left: 140px;
}
.body .di_2 .l5 strong{
   position: absolute;
   top: 28px;
   left: 162px;
}
.bottom{
	width: 100%;
	height: auto;
	margin: 0 auto;
	min-width: 1190px;
}
.bottom .one{
	width: 1190px;
	height: 16px;
	margin: 0 auto;
	margin-top: 30px;
}
.bottom .one ul{
	margin: 0 auto;
	margin-left: 160px;
}
.bottom .one li{
    float: left;
    display: inline;
    font-size: 12px;
    color: #757575;
    margin-right: 12px;

}
.bottom .one li a{
	font-size: 12px;
    color: #757575;
}
.bottom .two{
	width: 1190px;
	height: 22px;
	margin: 0 auto;
	margin-top: 30px;
   text-align: center;
   font-size: 12px;
}
.bottom .two a{
	color: #b2b2b2;
}
.bottom .three{
	width: 1190px;
	height: 22px;
	margin: 0 auto;
   text-align: center;
   font-size: 12px;
}
.bottom .three a{
	color: #b2b2b2;
}
.bottom .four{
	width: 1190px;
	height: 63px;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
}
.bottom .four .img1{
	position: absolute;
	top: 0px;
	left: 435px;
}
.bottom .four .img2{
	position: absolute;
	top: 0px;
	left: 575px;
}

.bottom .four .img3{
	position: absolute;
	top: 0px;
	left: 707px;
}
/************跳转***********************/
.tiaozhuan{
	width: 50px;
	height: 550px;
    position: fixed;
    top: 50%;
    margin-top: -275px;
    right: 50%;
    margin-right: -650px;
    /*background: red;*/
    background: url("../image/floor_nav.png") no-repeat 0px 5px;
    z-index: 50; 
    display: none;
}
.tiaozhuan .box{
    width: 50px;
    height: 50px;
   /* background-color: #ECECEC;*/
  /* background-color: #E5004F;*/
    margin-top: 5px;
    position: relative;
}
.tiaozhuan .box .bg{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 55;
	background-color: #E5004F;
	text-align: center;
	padding: 5px 5px 5px 5px;
	font-size: 14px;
	color: #fff;
	display: none;
	/*background: url("../image/floor_nav.png") no-repeat 0px 0px;*/
}

